# ==============================
# ОС / редакторы / IDE
# ==============================
*.log
*.pot
*.pyc
*.pyo
__pycache__/
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ==============================
# Python / окружения
# ==============================
env/
venv/
.venv/
ENV/
*.egg-info/
.eggs/

# ==============================
# Django / база данных
# ==============================
db.sqlite3
*.db
*.sqlite3

# ==============================
# Django: статика и медиа
# ==============================
# собранная статика (collectstatic)
staticfiles/
# если используешь локальную папку static/
static/
# файлы, загружаемые пользователями
media/

# ==============================
# Конфиги и секреты
# ==============================
.env
*.env
secrets.json

# ==============================
# Linux / systemd / деплой
# ==============================
*.pid
*.sock
gunicorn.log
gunicorn-error.log

